@media all and (min-width:800px) and (max-width:850px) {
	* {
		visibility: hidden;
	}
}
@media all and (min-width:800px) and (max-width:850px) {
	body {
		display: flex;
		background: #ff004e url("http://www.reactiongifs.com/r/2011/09/stanley_blinking.gif") no-repeat fixed center;
	}
}
@media screen and (max-width: 700px) {
	.socialicons ul {
		display: none;
	}
}
@media screen and (max-width: 680px) {
	.jumbotron {
		flex-direction: column;
	}
}
